@model SNB.DAL.Models.Post

<div class="card w-75">
	<h1 class="card-title">@Model.Title</h1>
	@{
		<div>
			<h6>Tags:</h6>
			@foreach (var tag in Model.Tags)
			{
				<span class="badge rounded-pill text-bg-success" style="color:green; display:inline;">@tag.Name</span>
			}
		</div>
	}
	<p>Body: @Model.Content</p>
	<h7>Author: @Model.AuthorId</h7>
	<p></p>
	<p>@Model.Content</p>
	<h7>Author: <b>@Model.AuthorId</b></h7>
	<p></p>
	<p></p>
</div>
@{
	<div>
		<a class="btn btn-outline-secondary" method="get" asp-controller="Comment" asp-action="CreateComment" asp-route-postId="@Model.Id">Добавить комментарий</a>
	</div>
	<p></p>
	if (Model.Comments.Count() == 0)
	{
		<h5 style="color: gray;">Коментарии отсутствуют</h5>
	}
	else
	{
		foreach (var comment in Model.Comments)
		{
			<div class="card w-75">
				<p>@comment.Content</p>
				<h7>Author: @comment.User</h7>
				@if (User.IsInRole("Администратор") || User.Identity?.Name == comment.AuthorName)
				{
					<div>
						<p>User: <b>@comment.AuthorName</b></p>
					</div>
					<p><i>@comment.Content</i></p>
					<a class="btn btn-outline-info button" method="get" asp-controller="Comment" asp-action="EditComment" asp-route-id="@comment.Id">Редактировать</a>
					<a class="btn btn-outline-danger button" method="post" asp-controller="Comment" asp-action="RemoveComment" asp-route-id="@comment.Id">Удалить</a>
				}
				else
				{
					<h7>Unregistred user: @comment.AuthorName</h7>
					<p><i>@comment.Content</i></p>
				}
			</div>
		}
	}
}